* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
--red: #C7010E;
--lightred: #fad4d7;
--background-grey:#f3f4f6;
--gray: #dedfdd;
--darkgray: rgb(211, 211, 211);
--white: #ffffff;
--whitesmoke: #f5f5f5;
}

main
{
display: block;
}

body 
{
    font-family: "Montserrat", sans-serif;
}
  
li 
{
    list-style-type: none;
}
  
hr 
{
    margin: 1rem auto;
}
  
.container-sm 
{
   
    min-height: 360px;
    padding: 1rem;
    box-shadow: 1px 1px 1px var(--gray);
    background-color: var(--background-grey);
    margin: 1rem;
    border-radius: 5px;
}

.container-lg {
  min-height: 360px;
  background-color: var(--background-grey);
  box-shadow: 0 1px 1px var(--gray);
  margin: 1rem 0;
  padding: 1rem 1rem;
}

/* Cards */

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    flex: 0 0 auto;
    flex-wrap: wrap;
  }

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: 100%;
    box-shadow: 1px 1px 2px var(--gray);
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between;
    background-color: var(--white);
    margin: 1rem 0;
  }
  
  .card img:hover {
    opacity: 0.8;
  }
  
  .card-1 .card-header 
  {
    display: flex;
  }

  .card-header-text {
    flex-grow: 1;
    padding: 0.5rem;
    
  }
  
  .card-1 .card-header-img{
    object-fit: fill;
    flex-basis:30%;
    width: 100px;
    height: 100px;
    border-radius: 0 3px 3px 0;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .card-2 .card-header 
  {
    display: flex;
    flex-direction: column;
  }

  .card-2 .card-header-img, .card-4 .card-header-img{
    object-fit: fill;
    width: 100%;
    height: 200px;
    border-radius: 0 3px 3px 0;
  }

  .card-3 .card-body ,.card-2 .card-body, .card-4 .card-body {
    display: block;
    padding: 0.5em;
  }
  .card-2 .card-header-text 
  {
    padding: 0.5rem;   
  }

  .card-3 .card-header {
    display: grid;
    grid-template-columns: auto;
  }

  .card-3 .card-header-text {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    color: var(--white);
  }
  
  .card-3 .card-header-img {
   
    object-fit: fill;
    width:100%;
    height: 200px; 
    grid-column: 1 / 1;
    grid-row: 1 / 3;   
  }
  
  .cta-btnicons
  {
      margin-left: auto;
  }

  .card-btn {
    padding: 0.4rem;
    background-color: var(--white);
    border: none;
  }
  
  .card-btn:hover {
    background-color: var(--whitesmoke);
  }
  
  .card-btn-text {
    font-size: 0.9rem;  
    border-radius: 3px;
    font-weight: bold;
    color: var(--red);
  }
  
  .card-btn-icon {
    border-radius: 100%;
    width: 2rem;
  }

  .fa-gratipay, .fa-share-alt-square, .fa-ellipsis-v
  {
      font-size: 1.3em;
  }

  /* Chips */

.chip-container
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 1px 1px 2px var(--gray);
  background-color: var(--white);
}

.chip-one
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.chip-components
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
 

}

.component
{
  display: flex;
  gap: 1rem; 
  background-color: var(--darkgray);
  border-radius: 25px;
  padding: 0.75rem;
  margin: 0.75rem
}

/* Drawer */

.drawer-container
{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  flex: 0 0 auto;
  flex-wrap: wrap;
}

.drawer-one {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 300px;
  padding: 0.5rem;
  box-shadow: 1px 1px 2px var(--gray);
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--white);
  margin: 1rem;
  
}

.drawer-header{
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.header-desc
{
 font-size: 0.9rem;
}

.drawer-content
{
    display: flex;
    width: 100%;
    padding: 0.75rem;
    gap:1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.content-text
{
  flex-basis:80%;
  order: 2;
}

.drawer-link-active {
  color: var(--red);
  background-color: var(--lightred);
}
.drawer-content:hover
{
  background-color: var(--lightred);
}

.content-icons
{
  flex-grow: 1;
  order:1;
}










